@media screen and (max-width: 1100px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 120px;
  position: relative;
  top: 30px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.12rem;
}

.logo__subtitle {
  margin-top: 10px;
  color: #292929;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.08rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
  max-height: 43px;
}

.list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-top: 17px;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  font-size: 0.9375rem;
}

.list__link:hover {
  cursor: pointer;
}

.list__link_active {
  border-bottom: solid 3px #F1CDB3;
  color: #292929;
}

.list__link_disabled {
  color: #292929;
}

.pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  height: 1342px;
  padding: 81px 119px 100px 68px;
}

.pets .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pets__title__first-part {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.12rem;
  color: #545454;
  width: 403px;
  text-align: center;
  margin-left: 450px;
}

.pets__title__second-part {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.12rem;
  color: #545454;
  width: 400px;
  text-align: center;
  letter-spacing: 0.13rem;
  margin-left: 453px;
}

.pets__content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-left: 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets__content-section-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  margin-top: -31px;
  margin-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets__content-section-buttons button {
  margin-top: 70px;
  margin-left: 10px;
}

.pets__content-section-buttons-btnLeft {
  background: none;
  width: 52px;
  height: 52px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.pets__content-section-buttons-btnRight {
  background: none;
  width: 52px;
  height: 52px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.pets__content-section-buttons-btnRight:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}

.pets__content-section-buttons-btnLeft-double {
  background: none;
  width: 52px;
  height: 52px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.pets__content-section-buttons-btnRight-double {
  background: none;
  width: 52px;
  height: 52px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.pets__content-section-buttons-btnRight-double:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}

.pets__content-section-buttons-btnNumber {
  background-color: #F1CDB3;
  width: 52px;
  height: 52px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.pets__content-section-buttons-btnNumber:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}

.pets__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1240px;
}

.pets__images-card {
  border-radius: 9px 9px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  height: 435px;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: -11px;
  background-color: #FAFAFA;
}

.pets__images-card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

.pets__images-card span {
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  padding: 29px 0px;
}

.pets__images-card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  padding: 15px 0px 0px 43px;
  margin-top: 2px;
  margin-left: 41px;
  font-family: Georgia;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.065rem;
}

.pets__images-card-button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  margin-top: -8px;
  margin-left: -278px;
}

.footer__content__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.12rem;
  color: #FFFFFF;
}

.footer__content__contacts {
  margin-right: 132px;
  max-width: 307px;
}

.footer__content__contacts__email {
  padding-top: 34px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  color: #F1CDB3;
}

.footer__content__contacts__email img {
  position: absolute;
  padding-top: 7px;
}

.footer__content__contacts__email span {
  letter-spacing: 0.075rem;
  position: relative;
  padding-left: 60px;
  padding-top: 11px;
  width: 695px;
}

.footer__content__contacts__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  color: #F1CDB3;
}

.footer__content__contacts__number img {
  position: absolute;
}

.footer__content__contacts__number span {
  letter-spacing: 0.075rem;
  position: relative;
  padding-left: 60px;
  padding-top: 4px;
  width: 695px;
}

.footer__content__located {
  max-width: 305px;
}

.footer__content__located-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 34px;
  padding-bottom: 33px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  color: #F1CDB3;
}

.footer__content__located-first img {
  position: absolute;
  padding-top: 7px;
}

.footer__content__located-first span {
  letter-spacing: 0.075rem;
  position: relative;
  padding-left: 41px;
  width: 695px;
}

.footer__content__located-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  color: #F1CDB3;
}

.footer__content__located-second img {
  position: absolute;
}

.footer__content__located-second span {
  letter-spacing: 0.075rem;
  position: relative;
  padding-left: 41px;
  padding-top: 6px;
  width: 695px;
}

.footer__image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  width: 300px;
  height: 310px;
  margin-right: -122px;
  padding-left: 156px;
  padding-top: 20px;
  left: calc(50% - 300px/2 + 450px);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .wrapper {
    max-width: 320px;
  }
  .logo {
    padding-left: 10px;
    width: 196px;
  }
  .menu {
    background: url(/assets/icons/Burger.svg) no-repeat;
    margin-right: 53px;
    margin-top: 20px;
    max-width: 30px;
  }
  .menu ul {
    display: none;
  }
  .pets {
    width: 100%;
    height: 1649px;
    padding-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pets__button {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 23px;
  }
  .pets__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 269px;
    margin-top: -20px;
  }
  .pets__images-card {
    margin-top: 42px;
  }
  .pets__images-card:last-child, .pets__images-card:nth-child(7), .pets__images-card:nth-child(6), .pets__images-card:nth-child(5), .pets__images-card:nth-child(4) {
    display: none;
  }
  .pets__title__first-part {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.1rem;
    margin-top: 42px;
    margin-left: 77px;
    width: 218px;
  }
  .pets__title__second-part {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.1rem;
    margin-left: 39px;
    width: 295px;
  }
  .pets__content {
    width: 320px;
    height: 791px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pets__content-section {
    width: 320px;
    margin-left: -21px;
    padding-bottom: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pets__content-section-buttons-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 132px;
    margin-top: 19px;
    height: 0;
  }
  .pets__content-section-buttons-left button {
    margin-top: 0;
  }
  .pets__content-section-buttons-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 132px;
    height: 0;
  }
  .pets__content-section-buttons-right button {
    margin-top: 0;
  }
  .footer {
    min-height: 809px;
    padding: 0;
    margin: 0;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content {
    margin-top: 2px;
    padding-top: 29px;
    padding-left: 449px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 320px;
  }
  .footer__content__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.1rem;
    text-align: center;
    width: 243px;
  }
  .footer__content__located {
    margin-left: -144px;
    width: 268px;
    margin-top: 45px;
  }
  .footer__content__located-first {
    margin-left: -29px;
    margin-top: 6px;
  }
  .footer__content__located-second {
    margin-left: -29px;
    margin-top: 8px;
  }
  .footer__content__located-second span {
    margin-top: -2px;
  }
  .footer__content__contacts {
    margin-left: -159px;
    width: 253px;
    margin-right: 0px;
  }
  .footer__content__contacts__email {
    margin-left: -5px;
  }
  .footer__content__contacts__number {
    margin-left: 0px;
  }
  .footer__image {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 200px;
    margin-left: -393px;
    margin-top: 25px;
  }
  .footer__image img {
    width: 260px;
    height: 269px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header .wrapper {
    max-width: 768px;
  }
  .logo {
    margin-left: -34px;
  }
  .menu {
    margin-right: -34px;
  }
  .list {
    padding-top: 16px;
  }
  .pets {
    width: 100%;
    height: 1733px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .pets__title__first-part {
    margin: 0;
  }
  .pets__title__second-part {
    margin: 0;
  }
  .pets__images {
    width: 635px;
  }
  .pets__images-card:last-child, .pets__images-card:nth-child(7) {
    display: none;
  }
  .pets__content {
    margin-top: 6px;
    max-width: 768px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pets__content-section {
    max-width: 768px;
    margin-top: -29px;
    margin-left: -36px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pets__content-section-buttons {
    margin-left: -52px;
    margin-top: -18px;
  }
  .footer {
    min-height: 639px;
    padding: 0;
    margin: 0;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content {
    padding-top: 38px;
    padding-left: 269px;
  }
  .footer__content__located {
    margin-left: -101px;
  }
  .footer__image {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: -432px;
    margin-top: 49px;
  }
}
/*# sourceMappingURL=pets.css.map */