$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
@media screen and (max-width: 1100px) {
    .hero__content {
        flex-direction: column;
    }
}

@mixin h2 {
    font: {
        family: Georgia;
        weight: 400;
        size: 44px;
    }
    line-height: 130%;
    color: $color-light-xl;
}

@mixin h3 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 35px;
    }
    line-height: 130%;
    letter-spacing: 0.12rem;
}

@mixin h3__mobile {
    font: {
        family: Georgia;
        style: normal;
        weight: 400;
        size: 25px;
    }
    line-height: 32.5px;
    letter-spacing: 0.1rem;
}

@mixin h4 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 20px;
    }
    line-height: 115%;
    letter-spacing: 0.06rem;
}

@mixin h5 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 15px;
    }
    line-height: 110%;
    letter-spacing: 0.06rem;
}

@mixin parafraph-l {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 15px;
    }
    line-height: 160%;
}

@mixin parafraph-s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 12px;
    }
    line-height: 150%;
}

@mixin logo__title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 32px;
    }
    line-height: 110%;
    letter-spacing: 0.12rem;
}

@mixin logo__subtitle {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 13px;
    }
    letter-spacing: 0.08rem;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 120px;
    position: relative;
    top: 30px;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    color: $color-dark-l;
    @include logo__title;
}

.logo__subtitle {
    margin-top: 10px;
    color: $color-dark-3xl;
    text-align: center;
    @include logo__subtitle;
}

.menu {
    display: flex;
    width: 443px;
    max-height: 43px;
}

.list {
    width: 100%;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    padding-top: 17px;
}

.list__item {
    display: flex;
    align-items: center;
}

.list__link {
    color: $color-light-xl;
    @include parafraph-l;
    font-size: 0.9375rem;
}

.list__link:hover {
    cursor: pointer;
}

.list__link_active {
    border-bottom: solid 3px $color-primary;
    color: $color-dark-3xl;
}

.list__link_disabled {
    color: $color-dark-3xl;
}

.pets {
    display: flex;
    background-color: $color-light-l;
    height: 1342px;
    padding: 81px 119px 100px 68px;
    .wrapper {
        justify-content: center;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__title__first-part {
        @include h3;
        color: $color-dark-l;
        width: 403px;
        text-align: center;
        margin-left: 450px;
    }
    &__title__second-part {
        @include h3;
        color: $color-dark-l;
        width: 400px;
        text-align: center;
        letter-spacing: 0.13rem;
        margin-left: 453px;
    }
    &__content-section {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 11px;
        justify-content: space-between;
        &-buttons {
            display: flex;
            padding-left: 31px;
            justify-content: center;
            button {
                margin-top: 70px;
                margin-left: 20px;
            }
            &-btnLeft {
                background: none;
                width: 52px;
                height: 52px;
                @include h4;
                color: $color-dark-s;
                border: 2px solid $color-dark-s;
                box-sizing: border-box;
                border-radius: 100px;
            }
            &-btnRight {
                background: none;
                width: 52px;
                height: 52px;
                @include h4;
                border: 2px solid $color-primary;
                box-sizing: border-box;
                border-radius: 100px;
                &:hover {
                    background-color: $color-primary-light;
                    border-color: $color-primary-light;
                    cursor: pointer;
                }
            }
            &-btnLeft-double {
                background: none;
                width: 52px;
                height: 52px;
                @include h4;
                border: 2px solid $color-dark-s;
                color: $color-dark-s;
                box-sizing: border-box;
                border-radius: 100px;
            }
            &-btnRight-double {
                background: none;
                width: 52px;
                height: 52px;
                @include h4;
                border: 2px solid $color-primary;
                box-sizing: border-box;
                border-radius: 100px;
                &:hover {
                    background-color: $color-primary-light;
                    border-color: $color-primary-light;
                    cursor: pointer;
                }
            }
            &-btnNumber {
                background-color: $color-primary;
                width: 52px;
                height: 52px;
                @include h4;
                border: 2px solid $color-primary;
                box-sizing: border-box;
                border-radius: 100px;
                &:hover {
                    background-color: $color-primary-light;
                    border-color: $color-primary-light;
                    cursor: pointer;
                }
            }
        }
    }
    &__images {
        display: flex;
        flex-wrap: wrap;
        width: 1240px;
        &-card {
            &:hover {
                cursor: pointer;
                background-color: $color-light-xl;
            }
            border-radius: 9px 9px 0px 0px;
            display: flex;
            flex-direction: column;
            width: 270px;
            height: 435px;
            margin-top: 40px;
            margin-left: 40px;
            margin-bottom: -11px;
            background-color: $color-light-s;
            span {
                text-align: center;
                @include h4;
                padding: 29px 0px;
            }
            &-button {
                display: flex;
                flex-direction: column;
                background-color: $color-light-s;
                border: 2px solid $color-primary;
                box-sizing: border-box;
                border-radius: 100px;
                width: 187px;
                height: 52px;
                padding: 15px 0px 0px 43px;
                margin-top: 2px;
                margin-left: 41px;
                font-family: Georgia;
                font-weight: 400;
                font-style: normal;
                font-size: 17px;
                line-height: 20px;
                letter-spacing: 0.065rem;
                &:hover {
                    background-color: $color-primary-light;
                    border-color: $color-primary-light;
                    cursor: pointer;
                }
            }
        }
    }
}

.footer {
    display: flex;
    height: 350px;
    & .wrapper {
        justify-content: center;
    }
    background: url(/assets/images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    #211F20;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
        margin-top: -8px;
        margin-left: -278px;
        &__title {
            @include h3;
            color: $color-light-xl;
        }
        &__contacts {
            margin-right: 132px;
            max-width: 307px;
            &__email {
                padding-top: 34px;
                padding-bottom: 45px;
                display: flex;
                @include h4;
                color: $color-primary;
                img {
                    position: absolute;
                    padding-top: 7px;
                }
                span {
                    letter-spacing: 0.075rem;
                    position: relative;
                    padding-left: 60px;
                    padding-top: 11px;
                    width: 695px;
                }
            }
            &__number {
                display: flex;
                @include h4;
                color: $color-primary;
                img {
                    position: absolute;
                }
                span {
                    letter-spacing: 0.075rem;
                    position: relative;
                    padding-left: 60px;
                    padding-top: 4px;
                    width: 695px;
                }
            }
        }
        &__located {
            max-width: 305px;
            &-first {
                display: flex;
                padding-top: 34px;
                padding-bottom: 33px;
                @include h4;
                color: $color-primary;
                img {
                    position: absolute;
                    padding-top: 7px;
                }
                span {
                    letter-spacing: 0.075rem;
                    position: relative;
                    padding-left: 41px;
                    width: 695px;
                }
            }
            &-second {
                display: flex;
                @include h4;
                color: $color-primary;
                img {
                    position: absolute;
                }
                span {
                    letter-spacing: 0.075rem;
                    position: relative;
                    padding-left: 41px;
                    padding-top: 6px;
                    width: 695px;
                }
            }
        }
    }
    &__image {
        align-items: center;
        justify-content: center;
        width: 1200px;
        width: 300px;
        height: 310px;
        margin-right: -122px;
        padding-left: 156px;
        padding-top: 20px;
        left: calc(50% - 300px/2 + 450px);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        & .wrapper {
            max-width: 320px;
        }
    }
    .logo {
        padding-left: 10px;
        width: 196px;
    }
    .menu {
        background: url(/assets/icons/Burger.svg) no-repeat;
        margin-right: 53px;
        margin-top: 20px;
        max-width: 30px;
    }
    .menu ul {
        display: none;
    }
    .pets {
        width: 100%;
        height: 1649px;
        padding-top: 0;
        justify-content: center;
        &__button {
            order: 3;
            margin-top: 23px;
        }
        &__images {
            flex-direction: column;
            justify-content: center;
            width: 269px;
            margin-top: -19px;
            &-card {
                margin-top: 41px;
            }
            &-card:last-child,
            &-card:nth-child(7),
            &-card:nth-child(6),
            &-card:nth-child(5),
            &-card:nth-child(4) {
                display: none;
            }
        }
        &__title__first-part {
            @include h3__mobile;
            margin-top: 42px;
            margin-left: 77px;
            width: 218px;
        }
        &__title__second-part {
            @include h3__mobile;
            margin-left: 39px;
            width: 295px;
        }
        &__content {
            width: 320px;
            height: 791px;
            flex-direction: column;
            &-section {
                width: 320px;
                padding-bottom: 12px;
                margin-left: -21px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &-buttons {
                    width: 320px;
                    justify-content: space-between;
                    margin-left: 15px;
                    margin-top: -29px;
                    button {
                        margin-left: -9px;
                    }
                    &-left {
                        order: 2;
                        margin-right: 132px;
                        margin-top: 19px;
                        height: 0;
                        button {
                            margin-top: 0;
                        }
                    }
                    &-right {
                        order: 2;
                        margin-left: 132px;
                        height: 0;
                        button {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    .footer {
        min-height: 809px;
        padding: 0;
        margin: 0;
        &__wrapper {
            flex-direction: column;
        }
        &__content {
            margin-top: 2px;
            padding-top: 29px;
            padding-left: 449px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 320px;
            &__title {
                @include h3__mobile;
                text-align: center;
                width: 243px;
            }
            &__located {
                margin-left: -144px;
                width: 268px;
                margin-top: 45px;
                &-first {
                    margin-left: -29px;
                    margin-top: 6px;
                }
                &-second {
                    margin-left: -29px;
                    margin-top: 8px;
                    span {
                        margin-top: -2px;
                    }
                }
            }
            &__contacts {
                margin-left: -159px;
                width: 253px;
                margin-right: 0px;
                &__email {
                    margin-left: -5px;
                }
                &__number {
                    margin-left: 0px;
                }
            }
        }
        &__image {
            order: 3;
            height: 200px;
            margin-left: -393px;
            margin-top: 25px;
            img {
                width: 260px;
                height: 269px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header {
        & .wrapper {
            max-width: 768px;
        }
    }
    .logo {
        margin-left: 30px;
    }
    .menu {
        margin-right: 30px;
    }
    .list {
        padding-top: 16px;
    }
    .pets {
        width: 100%;
        height: 1733px;
        justify-content: center;
        padding: 0;
        &__title__first-part {
            margin: 0;
        }
        &__title__second-part {
            margin: 0;
        }
        &__images {
            width: 635px;
            &-card:last-child,
            &-card:nth-child(7) {
                display: none;
            }
        }
        &__content {
            margin-top: 6px;
            max-width: 768px;
            align-items: center;
            justify-content: center;
            &-section {
                max-width: 768px;
                margin-top: -29px;
                margin-left: -36px;
                align-items: center;
                justify-content: center;
                &-buttons {
                    margin-left: -52px;
                    margin-top: -18px;
                }
            }
        }
    }
    .footer {
        min-height: 639px;
        padding: 0;
        margin: 0;
        &__wrapper {
            flex-direction: column;
        }
        &__content {
            padding-top: 38px;
            padding-left: 269px;
            &__located {
                margin-left: -101px;
            }
        }
        &__image {
            order: 3;
            margin-left: -432px;
            margin-top: 49px;
        }
    }
}